<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>    
    <add name="MyConnString" connectionString=" 
         Data Source=DESKTOP-O33O61B;   
         Initial Catalog=Users;     
         Integrated Security=SSPI;"/>  
  </connectionStrings> 
</configuration>